@model MyOrders.Models.login_Signup

@{
    ViewBag.Title = "logIn / Sign Up";
}

<div>
    <h1 class="header-signup-login">
        Welcom To My Orders
    </h1>
</div>

<div class="form">
    <ul class="tab-group">
        <il class="active"><a id="tab-signup">Sign Up</a></il>
        <il><a id="tab-login">Log In</a></il>
    </ul>
    <div>
        <div id="signup">
            <h1>Sign Up for Free</h1>
            <form action="SignUp" method="post">
                <div class="top-row">
                    <div class="field-wrap">
                        @Html.TextBox("FirstName", null, new { type = "text", required = "required", autocomplete = "off", placeholder = "First Name*" })
                    </div>
                    <div class="field-wrap">
                        @Html.TextBox("LastName", null, new { type = "text", required = "required", autocomplete = "off", placeholder = "Last Name*" })
                    </div>
                </div>
                <div class="field-wrap">
                    @Html.TextBox("EmailAddress", null, new { type = "email", required = "required", autocomplete = "off", placeholder = "Email Address*", onkeyup = "checkEmail()" })
                    <div class="row">
                        <label></label>
                        <div class="col-sm-10">
                            <p id="ErrorMass" />
                        </div>
                    </div>
                </div>
                <div class="field-wrap">
                    @Html.TextBox("Password", null, new { type = "password", required = "required", autocomplete = "off", placeholder = "Set A Password*" })
                </div>
                <button id="Submit1" class="button" type="submit"> Get Started</button>
            </form>
        </div>
        <div id="login">
            <h1>Welcom Back</h1>
            <div class="field-wrap">
                @Html.TextBox("EmailAddress", null, new { type = "email", required = "required", autocomplete = "off", placeholder = "Email Address*", id = "EmailLogIn" })
            </div>
            <div class="field-wrap">
                @Html.TextBox("Password", null, new { type = "password", required = "required", autocomplate = "off", placeholder = "Password*", id = "passLogIn" })
            </div>
            <p class="forgot"><a href="#">Forget Password?</a></p>
            <button class="button" id="Submit2" type="submit">Log In</button>
            <div class="row text-center">
                <label class="col-md-1"></label>
                <div class="col-sm-10">
                    <p id="ErrorMassLogIn" />
                </div>
            </div>
        </div>
    </div>
</div>


